body{
    background-image: linear-gradient(to left ,blue, steelblue);
    color: white;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}
/* https://htmlcolorcodes.com/ */
.azulhex{
    color: #0000ff ;
}

.violetahex{
    color: #9745ce;
}

.grishex{
    color: #9c9c9c;
}

.rosado{
    color:rgb(235, 172, 235);
}

.mostaza{
    color:rgb(179, 155, 49);
}

.alpha{
    background-color: rgba(29, 206, 53, 0.247);
}

.hsl1{
    /* hsl(matiz°, saturacion, iluminacion)*/
    background-color: hsl(270, 100%, 50%);
}

.hsl2{
    background-color: hsl(137, 13%, 42%);
}

.hsl3{
    background-color: hsla(69, 43%, 51%, 0.884);
}