*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgray;
}

.section1{
    width:500px;
    height:500px;
    border:2px solid orangered; 
}

.article1{
    width:20%; /*Porcentaje del contenedor padre*/
    height:250px;
    background-color: lightseagreen;
    display: inline-block;
}

.article2{
    width:79%;
    height:200px;
    background-color: yellow;
    display: inline-block;
}

/* - display: block; es como un jenga (section, main, divs, img)
   - display: inline; seguidos (label, input, span)
     el inline se acomoda al contenido
   - display: inline-block*/

label{
    border: 1px solid red;
}