*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #444;
}

/*Los media querys siempre van de mayor a menor*/

@media screen and (max-width: 1440px){
    body{
        background-color: crimson;
    }
}

@media screen and (max-width: 1024px){
    body{
        background-color: darkblue;
    }
}


@media screen and (max-width: 768px){
    body{
        background-color: darkorange;
    }
}


@media screen and (max-width: 400px){
    body{
        background-color: green;
    }
}